{% extends "admin.html" %}

{% block controls %}
	<div id="add_news">
		<h3>افزودن خبر جدید</h3>
		{% if id %}
		<form id="form-news" class="form-horizontal" action="/admin/news/{{ id }}" method="post" name="add-news">
		{% else %}
		<form id="form-news" class="form-horizontal" action="/admin/news" method="post" name="add-news">
		{% endif %}
            {{ form.hidden_tag() }}
        <div class="control-group">
          <label class="control-label" for="title">عنوان</label>
          <div class="controls">
            {{ form.title(id='title')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">توضیحات</label>
          <div class="controls">
            {{form.description(cols=75, rows=20, id='description')}}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">ارسال</button>
          </div>
        </div>
		</form>
	</div>
	<div id="C_news">
		<h3>لیست اخبار</h3>
		<ul>
			{% for news in allnews %}
				<li> <a href="/admin/news/{{ news.id }}">{{ news.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
