{% extends "admin.html" %}

{% block controls %}
	<div id="upload">
		<h3>بارگزاری فایل جدید</h3>
		<form id="formup" class="form-horizontal" action = "/admin/files" method="post" enctype="multipart/form-data">
		  <div class="control-group">
            <label class="control-label" for="upload">بارگزاری</label>
            <div class="controls">
              <input type="file" id="upload" name="file">
            </div>
          </div>
			<div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">ارسال</button>
              </div>
            </div>
		</form>
	</div>
	<div id="Flist">
		<h3>فایلها</h3>
		<ul>
			{% for file in files %}
				<li>{{ file }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
