{% extends "base.html" %}

{% block contents %}
	<aside id="ss">
		{% if ss %}
			<h3>{{ ss.title }}</h3>
			<p>{{ ss.description }}</p>
			<br>
			<p>در صورت وجود شما می توانید فیابل های مربوط به این جلسه را از<a href="/static/uploaded/{{ ss.sound }}">اینجا</a> دانلود کنید</p>
			<hr>
			<p><a href="/users/{{ user.username }}">{{ user.username }}</a></p>
		{% endif %}
	</aside>
	<aside class="session-bar">
		<ul>
			{% for session in sessions %}
				<a href="{{ session.id }}"><li>{{ session.title }}</li></a>
			{% endfor %}
		</ul>
	</aside>
{% endblock %}