{% extends "admin.html" %}

{% block controls %}
	<div id="add_user">
		<h3>افزودن کاربر جدید</h3>
		{% for error in form.errors.values() %}
		<p>{{error}}</p>
		{% endfor %}
		{% if id %}
		<form id="form-user" class="form-horizontal" action="/admin/users/{{ id }}" method="post" name="add-user">
		{% else %}
		<form id="form-user" class="form-horizontal" action="/admin/users" method="post" name="add-user">
		{% endif %}
            {{ form.hidden_tag() }}
        <div class="control-group">
          <label class="control-label" for="username">نام کاربری:</label>
          <div class="controls">
            {{ form.username(id='username')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">گذر واژه:</label>
          <div class="controls">
            {{ form.password(id='password')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">ایمیل:</label>
          <div class="controls">
            {{ form.email(id='email')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="admin">ادمین:</label>
          <div class="controls">
            {{ form.admin(id='admin')}}
          </div>
        </div>
		<div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">ارسال</button>
          </div>
        </div>
		</form>
	</div>
	<div id="C_user">
		<h3>لیست کاربران</h3>
		<ul>
			{% for user in alluser %}
				<li><a href="/admin/users/{{ user.id }}">{{ user.username }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
