{% extends "admin.html" %}

{% block controls %}
	<div id="add_session">
		<h3>افزودن جلسه جدید</h3>
		{% if id %}
		<form id="form-session" class="form-horizontal" action="/admin/sessions/{{ id }}" method="post" name="add-session">
		{% else %}
		<form id="form-session" class="form-horizontal" action="/admin/sessions" method="post" name="add-session">
		{% endif %}
            {{ form.hidden_tag() }}
        <div class="control-group">
          <label class="control-label" for="title">عنوان</label>
          <div class="controls">
            {{ form.title(id='title')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">توضیحات</label>
          <div class="controls">
            {{form.description(cols=75, rows=20, id='description')}}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="sound">فایل صوتی</label>
          <div class="controls">
            {{form.sound(id='sound')}}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">ارسال</button>
          </div>
        </div>
		</form>
	</div>
	<div id="C_sessions">
		<h3>لیست جلسات</h3>
		<ul>
			{% for session in sessions %}
					<li><a href="/admin/sessions/{{ session.id }}">{{ session.title }}</a></li>
				</form>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
