{% extends "base.html" %}

{% block contents %}
	<div id="sessions">
		<h3>لیست جلسات اخیر</h3>
		<ul>
			{% for session in sessions %}
				<a href="sessions/{{ session.id }}"><li>{{ session.title }}</li></a>
			{% endfor %}
		</ul>
		<br>
	</div>
	<div id="Tehpug">
		<h3>تهران پاگ چیست؟</h3>
		<p>گروه کاربران پایتون (کارگروه پایتون) که با برگزاری جلسات دو هفته یک بار سعی در ایجاد تعامل و همکاری در اجرای پروژه های پایتونی و به اشتراک گذاشتن دانش و اندوخته های خود به هدف بالا بردن سطح دانش و استفاده پایتون در تهران فعالیت می کنند.</p>
	</div>
	<div id="map">
		<h3>محل برگزاری جلسات</h3><br>
		<img src="static/img/tehpug-address.jpg">
		<p>گروه کاربران پایتون تهران هر دو هفته یکبار در روز سه‌شنبه از ساعت ۱۷ الی ۱۸ جلسه برگزار میکند. آدرس محل برگزاری جلسات: خیابان آفریقا - کوچه نور (آفریقا به سمت شمال بعد از ظفر، قبل از پمپ بنزین) - پلاک ۱۸، سالن آموزش شرکت توسن .</p>
	</div>
{% endblock %}